*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin:0 auto;
    background-color: #f5f5f5;
    color: #35312d;
    font-family: Aileron-Regular, Arial, sans-serif;
    opacity: 0;
    animation: fadeIn 2s forwards;
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
@font-face{
    font-family:Aileron-Regular;
    src:url(aileron/Aileron-Regular.otf);
}
@font-face{
    font-family:Aileron-Heavy;
    src:url(aileron/Aileron-Heavy.otf);
}

.imgheaderexample{ 
    /*this is just an example for how to format the header*/
height: 300px;
/*background: url(____);*/
background-repeat: no-repeat;
background-position: center;
background-size: cover;
display: flex;
align-items: center;
justify-content: center;
box-shadow: 0px 30px 80px rgba(70, 68, 62, 0.371);
}
/* use a new class for ur specific background: url(____); */

.imgheaderinfo{ /*info header*/
height: 300px;
background: url(arenainfoheader1.jpeg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
display: flex;
align-items: center;
justify-content: center;
box-shadow: 0px 30px 80px rgba(70, 68, 62, 0.371);
}

.imgheadermap{ /*header for map page*/
    height: 300px;
    background: url(arena-header2.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 30px 80px rgba(70, 68, 62, 0.371);
    }

/*header text animation - beginning*/
.highlight-container{
    display: inline-block;
    position: relative;
    padding: 20px;
}

.headertext{
    color: #f9f7f3;
    position: relative;
z-index: 100;
}

.highlight{
    background-color: black;
    opacity: .4;
    top: 0;
    height: 100%;
    left: 0;
    position: absolute;
    animation: mymove 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes mymove {
    from {width: 0%;}
    to {width: 100%;}
  }
/*header text animation - end*/

   .container-info {
    text-align:left;
    padding: 0 20%;
}

.directions, .label{
    /*animation*/
    position: relative;
    animation-name: leftslide;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    width: fit-content;
} 

ul.policy-list{
    padding-left: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.indent{ /*indented text below labels/main text*/
    padding-left: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    line-height: 2rem;
}

/*slide in left animation*/
@keyframes leftslide {
   from{
    transform: translateX(-100vw);
   }
   to{
    transform: translateX(0);
   }
  }

.infosummary{
    padding-bottom: 4rem; 
    padding-top: 1rem;
    /*animation*/
    position: relative;
    animation-name: leftslide;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    width: fit-content;
    margin: 0 auto;
}


p.contacts, .indent, ul.policy-list{
    /*animation*/
    position: relative;
    animation-name: leftslide;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    width: fit-content;
}


/*HEADER ///////////////////////////////////////////////////////////*/
.header-home {
  font-family: Aileron-Regular, Arial, sans-serif;
  background-color: #35312d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  color: #e3e4de;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.header-home ul {
  display: flex;
  list-style-type: none;
  margin-right: 20px;
}
.header-home ul li {
  padding: 10px;
}
.header-home li a {
  color: #e3e4de;
  text-decoration: none;
}
.header-home a:hover {
  transition: padding 0.25s linear;
  background-color:#282522;
  padding: 5px 10px;
}
#logo {
  width: 200px;
  height: 110px;
  margin-left: 20px;
}
.header-home img:hover {
  cursor: pointer;
}
.logo-class {
  display: flex;
  align-items: center;
  font-family: Aileron-Heavy, Arial, sans-serif;
}
/*END HEADER/////////////////////////////////////////////////*/

.imgheaderinfo-main{
  height: 600px;
}
.imgheaderinfo-main img{
  width: 100%;
  height: 600px;
  object-fit: cover;
}
/* Fading animation for slideshow */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*CARD AREA*/
.flip-card {
  background-color: transparent;
  width: 500px;
  height: 500px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  text-align: center;
}
.flip-card h1{
  position:fixed;
  text-align: center;
  width: 100%;
  left: 0px;
  font-size: 3.5rem;
  color: #ffffff;
  text-shadow: -4px -4px black;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.flip-card-front {
  background-color: #bbb;
  color: #35312d;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flip-card img{
  width: 500px;
  height: 500px;
  object-fit: cover;
}
.flip-card-back {
  background-color: #35312d;
  color:#e3e4de;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 100px;
}
.flip-card-back ul{
  text-align: left;
}
.card-area{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #f5f5f5;
}

/*CALENDAR AND EVENTS AREA*/
.descriptor{
  text-align: center;
  margin: 100px 0;
  animation-name: leftslide;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}
.calendar-and-events{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  margin: 50px 0;
}
/* .calendar-events{
  margin-top: 50px;
} */
.mySlidesEvent{
  width: 900px;
  height: 500px;
  border-radius: 8px;
  background-color: #ffffff;
}
.mySlidesEvent img{
  width: 300px;
  height: 450px;
  object-fit: cover;
}
/*FOOTER////////////////////////////////////*/
footer {
  background-color: #35312d;
  color: #e3e4de;
  padding: 20px 0;
  text-align: left;
  font-family: Aileron-Regular, Arial, sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.footer-main-content{
  display: flex;
  justify-content: space-between;
}
.footer-main-content div{
  margin-left: 40px;
}
.footer-left{
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
.social-icons{
  margin-top: 10px;
}
.social-icons i:hover{
  cursor: pointer;
}
.fa-brands{
  font-size: 20px;
}
.fa-instagram{
  margin-left: 10px;
}
.main-links{
  margin-top: 20px;
}
.main-links ul{
  margin-top: 20px;
  list-style-type: none;
}
.main-links li{
  margin-top: 10px;
}
.main-links a{
  color: #e3e4de;
  text-decoration: none;
  transition: padding 0.5s;
}
.main-links a:hover{
  background-color:#282522;
  padding: 5px 10px;
}
.recent-news{
  margin-top: 20px;
}
.recent-news a{
  color: #e3e4de;
  text-decoration: none;
}
.recent-news a:hover{
  background-color:#282522;
}
.footer-right{
  width: 350px;
  margin-top: 20px;
  margin-right: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.footer-right input{
  margin-top: 20px;
  width: 200px;
  height: 30px;
  background-color: #282522;
  color: #e3e4de;
  border-right: none;
}
.footer-right button{
  width: 200px;
  height: 30px;
  background-color:#e3e4de;
  color: #35312d;
  transition: margin-top 0.25s;
  font-weight: bold;
}
.footer-right button:hover{
  cursor: pointer;
  background-color:#bebebc;
  margin-top: 2px;
  color:#282522;
}
footer p, footer h3 {
  margin-top: 8px;
}
footer hr {
  margin: 10px 0;
  border-top: 1px solid #bebebc;
}
.rights {
  text-align: center;
  margin-top: 20px;
  color: #aeaea5;
}
@media only screen and (max-width: 1400px){
  .calendar-and-events{
    flex-direction: column;
  }
}
  @media only screen and (max-width: 1300px){
  .card-area{
    flex-wrap: wrap;
  }
  .calendar-and-events{
    flex-direction: column;
  }
}
@media only screen and (max-width: 930px){
  .mySlidesEvent{
  width: 600px;
  height: 500px;
  border-radius: 8px;
  background-color: #ffffff;
}
.mySlidesEvent img{
  width: 300px;
  height: 450px;
  object-fit: cover;
}
}
@media only screen and (max-width: 850px){
  .footer-main-content{
  flex-direction: column;
  align-items: center;
}
.main-links{
  margin-right: 150px;
}
}
@media only screen and (max-width: 768px) {
  .header-home {
    flex-direction: column;
  }
}
@media only screen and (max-width: 620px){
  .mySlidesEvent{
  width: 400px;
  height: 500px;
  border-radius: 8px;
  background-color: #ffffff;
}
.mySlidesEvent img{
  width: 300px;
  height: 450px;
  object-fit: cover;
}
}
@media only screen and (max-width: 425px) {
  .header-home ul {
    display: flex;
    flex-direction: column;
  }
}

.customlink{
color: #282522; 
}
