*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin:0 auto;
    background-color: #f5f5f5;
    color: #35312d;
    font-family: Aileron-Regular, Arial, sans-serif;
}
@font-face{
    font-family:Aileron-Regular;
    src:url(aileron/Aileron-Regular.otf);
}
@font-face{
    font-family:Aileron-Heavy;
    src:url(aileron/Aileron-Heavy.otf);
}

.imgheaderinfo{
height: 300px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
display: flex;
align-items: center;
justify-content: center;
}

/* use a new class for ur specific background: url(____); */

/*header text animation - beginning*/
.highlight-container{
    display: inline-block;
    position: relative;
    padding: 20px;
}

.headertext{
    color: #f9f7f3;
    position: relative;
z-index: 100;
}

.highlight{
    background-color: black;
    opacity: .4;
    top: 0;
    height: 100%;
    left: 0;
    position: absolute;
    animation: mymove 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes mymove {
    from {width: 0%;}
    to {width: 100%;}
  }
/*header text animation - end*/
